{{#each this.topics as |topic| }}
    <div class="data-menu-card {{if (eq topic @topic) 'selected' ''}} {{if topic.tbd 'data-todo'}}" 
    {{on "click" (fn this.transitionTopic topic)}}
    >
        <div class="data-menu-card-title">{{topic.t}}</div> 
        <div>
          <UaIcon @icon={{topic}} @path={{this.iconPath}} @dir="icons" />
        </div>
    </div>
{{/each}}

<div class="data-content">

  <h1>
    {{@topic.t}}
  </h1>

{{!-- {{component myComponentName param2=param2 param3=param3 ...}} --}}
  {{#if @topic.tbd}}
    <div style="margin-top:2rem;font-size:4rem;font-style:italic;color:blue">Coming soon!</div>
  {{else}}
    {{#if this.component}}
      {{component this.component }}
    {{/if}}
  {{/if}}
</div>