{{#each this.topics as |topic| }}
    <div class="data-card {{if (eq topic this.currentTopic) 'selected' ''}} {{if topic.component '' 'data-todo'}}" 
    {{on "click" (fn this.setCurrentTopic topic)}}
    >
        <div class="data-card-title">{{topic.t}}</div> 
        <div>
          <UaIcon @icon={{topic}} @path={{this.iconPath}} @dir="icons" />
        </div>
    </div>
{{/each}}

<div class="data-content">

  <h1>
    {{this.currentTopic.t}}
  </h1>

{{!-- {{component myComponentName param2=param2 param3=param3 ...}} --}}
  {{#if this.component}}
    {{component this.component }}
  {{else}}
    <div style="margin-top:2rem;font-size:4rem;font-style:italic;color:blue">Coming soon!</div>
  {{/if}}
</div>