<h3>Feed Viewer</h3>
<button type="button" {{on "click" this.nextItem}}>Next</button>

<div>
    <FeedItem @item={{this.v0Item}}/>
    <FeedItem @item={{this.v1Item}}/>
</div>
<div>
    <FeedItem @item={{this.v2Item}}/>
    <FeedItem @item={{this.v3Item}}/>
</div>