<div class="bayraktar-animation">
  <img class="{{this.tClass}}" src="/assets/images/t80.png"/>
  <img class={{this.lClass}} src="/assets/images/lithuania.png"/>
  <img class={{this.tuClass}} src="/assets/images/turkey.png"/>
  <img class={{this.bClass}} src="/assets/images/bayr.png"/>
  <img class={{this.misClass}} src="/assets/images/missile.png"/>
  <img class={{this.expClass}} src="/assets/images/explosion.png"/>
  <span class={{this.msg1Class}}>
    Hello Turkey...
  </span>
  <span class={{this.msg2Class}}>
    one Bayraktar please
  </span>
  <span class={{this.msg3Class}}>
    Sure...on the house!
  </span>
  <span class={{this.tyLitClass}}>
    Thank you<br/> Lithuania!
  </span>
  <span class={{this.tyTurkeyClass}}>
    Thank you Baykar<br/>and Türkiye!
  </span>
</div>
