        <div>
            <h1>Capturing the best of the Ukrainian Spirit</h1>
            <div class="feed-buttons">
                <button type="button" {{on "click" this.startChaos}}>Start</button>
                <button type="button" {{on "click" this.stopChaos}}>Stop</button>
            </div>
        </div>
        <div>
            <img style='height:1px;width:1px;opacity:0' src={{this.nextUrl}} />
        </div>
<div class="feed-track">

    <div class="scenario-each">

        {{#animated-beacon name="one"}}
            <div class='feed-track-beacon' />
        {{/animated-beacon}}
        
        <div class="inner-track" style="background-color=blue">
            <AnimatedContainer>
                {{#animated-each this.items key="id" use=this.transition as |item|}}
                <div class="feed-item">
                    <img src={{item.imgSrc}} />
                </div>
                {{/animated-each}}
            </AnimatedContainer>
        </div>

    </div>
</div>

        {{!-- {{#if this.chaos.isRunning}}
            <button type="button" {{on "click" this.stopChaos}}>Stop</button>
        {{else}}
            <button type="button" {{on "click" this.startChaos}}>Auto</button>
        {{/if}} --}}